<div style="padding: 13px;">
    <!-- <mat-spinner *ngIf="units.length === 0"></mat-spinner> -->

    <mat-card class="aoebackground" *ngFor="let unit of units" style="margin-top:10px;">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image" [style.background-image]="unit.image"></div>

            <mat-card-title>{{unit.name}} </mat-card-title>
            <mat-card-subtitle *ngIf="unit.cost.Wood || unit.cost.Food || unit.cost.Gold || unit.cost.Stone || unit.cost.info" class="blackbg">
                <label>Cost:</label> &nbsp;
                <label *ngIf="unit.cost.Wood"><img src="assets/img/wood.png">{{unit.cost.Wood}}</label>
                <label *ngIf="unit.cost.Food"><img src="assets/img/food.png">{{unit.cost.Food}}</label>
                <label *ngIf="unit.cost.Gold"><img src="assets/img/gold.png">{{unit.cost.Gold}} </label>
                <label *ngIf="unit.cost.Stone"><img src="assets/img/stone.png">{{unit.cost.Stone}}</label>
                <label *ngIf="unit.cost.info">{{unit.cost.info}}</label>
            </mat-card-subtitle>
            <div>
                <img *ngIf="unit.age == 'Dark'" src="assets/img/Dark100.png" height="50px">
                <img *ngIf="unit.age == 'Feudal'" src="assets/img/Feudal100.png" height="50px">
                <img *ngIf="unit.age == 'Castle'" src="assets/img/Castle100.png" height="50px">
                <img *ngIf="unit.age == 'Imperial'" src="assets/img/Imperial100.png" height="50px">
            </div>
        </mat-card-header>
        <mat-card-content>
            <p>
                {{unit.description}}
            </p>
            <label *ngIf="unit.attack"> <mat-icon>colorize</mat-icon>attack: {{unit.attack}} </label>
            <label *ngIf="unit.armor"> <mat-icon>security</mat-icon> armor: {{unit.armor}}</label>
            <label *ngIf="unit.build_time"><mat-icon>hourglass_empty</mat-icon>build time: {{unit.build_time}} </label>
            <label *ngIf="unit.reload_time"><mat-icon>schedule</mat-icon> reload time: {{unit.reload_time}} </label>



            <!-- <img style="height:100%; width: 100%;" src="{{ unit.imageUrl }}" /> -->
        </mat-card-content>
        <mat-card-actions>
            <button mat-button></button>
        </mat-card-actions>
    </mat-card>
</div>